/*header styles*/
.header-container {
    Padding: 17px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper {
    display: flex;
    gap: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
a {
    color: inherit;
    
}
.action-button {
    background-color: #000;
    border-radius: 32px;
    height: 48px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #F3F3F3;
   
}
/*headline-1st section*/
.section-container {
    Padding: 64px 165px;
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;

}
.p-container {
    display: flex;
    flex-direction: column;
    width: 490px;
}
.headline-h {
    font-family: 'Inter', sans-serif;
    font-Weight: 900;
    font-size: 56px;
    Line-height: 60px;
    margin-bottom: 24px;
}

.first-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;  
    
}
.btn-text {
    display: flex;
    margin-top: 44px;

}
.second-p {
    margin-left: 20px;
    width: 236px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
/*feature section styles*/
.feature-container {
    padding: 64px 150px;
    background-color: #F3F3F3;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
.div-wrapper {
    display: flex;
    flex-direction: column;
}
.black-ball {
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.title-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 16px;
}
.feature-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*second headline styles*/
.scnd-headline-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    Padding: 96px 150px;
    gap: 133px;
}
.scnd-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    gap: 16px;
}
.scnd-h {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.scnd-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.list-with-bullets {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    list-style-type: disc;
    margin-left: 15px;
    
}
li:not(:last-child) {
    margin-bottom: 5px;
}
/*testimonials section styles*/
.testemonials-container {
    Padding: 96px 0px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.testimonial-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    Padding: 0px 165px;

}
.individual-wrapper {
    display: flex;
    flex-direction: column;
    Padding: 24px;
    background-color: #F3F3F3;
}
.testimonial-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 56px;
}
.testimonial-image {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    margin-bottom: 16px;
}
.name-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}
.last-line {
    display: flex;
}
.description-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-right: 120px;
}
.socials {
    display: flex;
    gap: 16px;
}
